## Dólar comercial (venda e compra) - cotações diárias e Taxas de Câmbio - todos os boletins diários - v1

- Retorna a Cotação de Compra e a Cotação de Venda da moeda Dólar contra a unidade monetária corrente para a data informada.

*Resultado*

| Nome           | Tipo    | Título          | Descrição                                                                                           |
|----------------|---------|-----------------|---------------------------------------------------------------------------------------------------|
| cotacaoCompra  | decimal | Cotação de compra| Cotação de compra do dólar contra a unidade monetária corrente: unidade monetária corrente/dólar americano. |
| cotacaoVenda   | decimal | Cotação de venda | Cotação de venda do dólar contra a unidade monetária corrente: unidade monetária corrente/dólar americano. |
| dataHoraCotacao| texto   | Data e hora da cotação | Data, hora e minuto das cotações de compra e venda.                                               |

### 1. Importando bibliotecas necessárias

In [20]:
import pandas as pd  #possibilita manipulação e análise de dados
import requests #possibilita integração com serviços web, solicitações HTTP consumir dados de APIs
import json  #manipular arquivo json

### 2. Definindo a URL para a requisição da API

In [21]:
url = "https://olinda.bcb.gov.br/olinda/servico/PTAX/versao/v1/odata/CotacaoDolarDia(dataCotacao=@dataCotacao)?@dataCotacao='03-06-2024'&$top=100000&$format=json&$select=cotacaoCompra,cotacaoVenda,dataHoraCotacao"

### 3. Criando a função para fazer a requisição e salvar o JSON na pasta Datasets

In [22]:
def requisicao_api(link):
  resposta = requests.get(link)

  if resposta.status_code == 200:      #sucesso na requisição
    dados = resposta.json()
    print('Status Code:', resposta.status_code)
    with open('datasets/resultadoDia.json', 'w', encoding='utf-8') as arquivo:   #salvar arquivo json
      json.dump(dados, arquivo, ensure_ascii=False, indent=4)

  else:
    print('Status Code:', resposta.status_code)

### 4. Executando a função para buscar os dados

In [23]:
requisicao_api (url)

Status Code: 200

### 5. Lendo o arquivo JSON salvo e transformando em DataFrame

In [24]:
jsondata = pd.read_json('datasets/resultadoDia.json')

dados_df = pd.json_normalize(jsondata['value'])

### 6. Visualizando as primeiras linhas do DataFrame

In [25]:
dados_df.head()

   cotacaoCompra  cotacaoVenda          dataHoraCotacao
0         4.9392        4.9398  2024-03-06 14:56:03.471

### 7. Função para salvar o DataFrame em CSV

In [26]:
def saveCsv(df: pd.DataFrame, nome_arquivo: str, separator: str, dec: str):
    df.to_csv(nome_arquivo, sep=separator, decimal=dec, index=False, encoding='utf-8-sig')

### 8. Definindo o caminho para salvar o CSV e salvando os dados

In [27]:
cambio_dia_csv = './datasets/dados_dia_csv.csv'

saveCsv(dados_df, cambio_dia_csv, separator=';', dec=',')

print(f"DataFrame salvo com sucesso em: {cambio_dia_csv}")

DataFrame salvo com sucesso em: ./datasets/dados_dia_csv.csv