## Dólar comercial (venda e compra) - cotações diárias e Taxas de Câmbio - todos os boletins diários - v1

- Retorna a Cotação de Compra e a Cotação de Venda da moeda Dólar contra a unidade monetária corrente para o período informado.

*Resultado*

| Nome           | Tipo    | Título          | Descrição                                                                                           |
|----------------|---------|-----------------|---------------------------------------------------------------------------------------------------|
| cotacaoCompra  | decimal | Cotação de compra| Cotação de compra do dólar contra a unidade monetária corrente: unidade monetária corrente/dólar americano. |
| cotacaoVenda   | decimal | Cotação de venda | Cotação de venda do dólar contra a unidade monetária corrente: unidade monetária corrente/dólar americano. |
| dataHoraCotacao| texto   | Data e hora da cotação | Data, hora e minuto das cotações de compra e venda.                                               |

### 1. Importando bibliotecas necessárias

In [108]:
import pandas as pd  #possibilita manipulação e análise de dados
import requests #possibilita integração com serviços web, solicitações HTTP consumir dados de APIs
import json  #manipular arquivo json

### 2. Definindo a URL para a requisição da API

In [109]:
url = "https://olinda.bcb.gov.br/olinda/servico/PTAX/versao/v1/odata/CotacaoDolarPeriodo(dataInicial=@dataInicial,dataFinalCotacao=@dataFinalCotacao)?@dataInicial='01-01-2023'&@dataFinalCotacao='07-31-2025'&$top=500000&$format=json&$select=cotacaoCompra,cotacaoVenda,dataHoraCotacao"

### 3. Criando a função para fazer a requisição e salvar o JSON na pasta Datasets

In [110]:
def requisicao_api(link):
  resposta = requests.get(link)

  if resposta.status_code == 200:      #sucesso na requisição
    dados = resposta.json()
    print('Status Code:', resposta.status_code)
    with open('datasets/resultadoPeriodo.json', 'w', encoding='utf-8') as arquivo:   #salvar arquivo json
      json.dump(dados, arquivo, ensure_ascii=False, indent=4)

  else:
    print('Status Code:', resposta.status_code)

### 4. Executando a função para buscar os dados

In [111]:
requisicao_api(url)

Status Code: 200

### 5. Lendo o arquivo JSON salvo e transformando em DataFrame

In [112]:
jsondata = pd.read_json('datasets/resultadoPeriodo.json')

dados_periodo_df = pd.json_normalize(jsondata['value'])

### 6. Visualizando as primeiras linhas do DataFrame

In [113]:
dados_periodo_df.head()

   cotacaoCompra  cotacaoVenda          dataHoraCotacao
0         5.3430        5.3436  2023-01-02 13:05:57.593
1         5.3753        5.3759   2023-01-03 13:11:19.08
2         5.4453        5.4459  2023-01-04 13:09:19.572
3         5.4020        5.4026  2023-01-05 13:03:32.262
4         5.2849        5.2855  2023-01-06 13:02:28.727

### 7. Função para salvar o DataFrame em CSV

In [114]:
def saveCsv(df: pd.DataFrame, nome_arquivo: str, separator: str, dec: str):
    df.to_csv(nome_arquivo, sep=separator, decimal=dec, index=False, encoding='utf-8-sig')

### 8. Definindo o caminho para salvar o CSV e salvando os dados

In [115]:
cambio_periodo_csv = './datasets/dados_periodo_csv.csv'

saveCsv(dados_periodo_df, cambio_periodo_csv, separator=';', dec=',')

print(f"DataFrame salvo com sucesso em: {cambio_periodo_csv}")

DataFrame salvo com sucesso em: ./datasets/dados_periodo_csv.csv