In [2]:
import pandas as pd
import requests
import json

In [3]:
def requisicao_api(link):
  resposta = requests.get(link)

  if resposta.status_code == 200:      #sucesso na requisição
    dados = resposta.json()
    print('Status Code:', resposta.status_code)
    with open('resultado.json', 'w', encoding='utf-8') as arquivo:   #salvar arquivo json
      json.dump(dados, arquivo, ensure_ascii=False, indent=4)

  else:
    print('Status Code:', resposta.status_code)

# Exemplo 1 – Cotação do dólar em uma data específica (15/03/2024)

## Determine a url fornecida:

In [36]:
url = "https://olinda.bcb.gov.br/olinda/servico/PTAX/versao/v1/odata/CotacaoDolarDia(dataCotacao=@dataCotacao)?@dataCotacao='03-15-2024'&$top=100000&$format=json&$select=cotacaoCompra,cotacaoVenda,dataHoraCotacao"

## Chamar função passando o link gerado pela interface da API:

In [37]:
requisicao_api(url)

Status Code: 200

## Convertendo em DataFrame

In [39]:
jsondata = pd.read_json('resultado.json')
jsondata
data = jsondata['value']

## Normalizando os dados

In [25]:
dados_df = pd.json_normalize(data)

## Exibindo os primeiros valores do DataFrame

In [26]:
dados_df.head()

   cotacaoCompra  cotacaoVenda          dataHoraCotacao
0         4.9931        4.9937  2024-03-15 15:16:04.201

# Exemplo 2 – Cotação do dólar em um período (01/01/2023 até 31/07/2024)

## Determinar a url fornecida:

In [29]:
url = "https://olinda.bcb.gov.br/olinda/servico/PTAX/versao/v1/odata/CotacaoDolarPeriodo(dataInicial=@dataInicial,dataFinalCotacao=@dataFinalCotacao)?@dataInicial='01-01-2023'&@dataFinalCotacao='07-31-2025'&$top=500000&$format=json&$select=cotacaoCompra,cotacaoVenda,dataHoraCotacao"

## Chamar função passando o link gerado pela interface da API:

In [30]:
requisicao_api(url)

Status Code: 200

## Convertendo em DataFrame

In [33]:
jsondata = pd.read_json('resultado.json')
jsondata
data = jsondata['value']

## Normalizando os dados

In [34]:
dados_df = pd.json_normalize(data)

## Exibindo os primeiros valores do DataFrame

In [35]:
dados_df.head()

   cotacaoCompra  cotacaoVenda          dataHoraCotacao
0         5.3430        5.3436  2023-01-02 13:05:57.593
1         5.3753        5.3759   2023-01-03 13:11:19.08
2         5.4453        5.4459  2023-01-04 13:09:19.572
3         5.4020        5.4026  2023-01-05 13:03:32.262
4         5.2849        5.2855  2023-01-06 13:02:28.727